---
---
@import "uno";
@import "tables";
@import "monokai";
@import "timeline";

/* Modifications */

body {
  background: rgb(62, 56, 43);
}

pre.highlight,
.highlight pre {
  padding: 10px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.panel-cover {
    transition: width 1s, height 1s, max-width 1s, max-height 1s;
}

.panel-main__inner {
    padding: 10 60px;
}

.content-wrapper {
    opacity: 0%;
    transition: opacity 1s;
}

.content-wrapper.visible {
    opacity: 100%;
    transition: opacity 1.5s;
}

.about-wrapper {
    width: 90%;
    max-width: 864px;
    min-width: 350px;
    margin: 50px auto;
}

.panel-cover--overlay {
    background-color: rgba(0, 0, 0, 0);
}

.btn-mobile-menu {
    display: block;
    z-index: -1;
    opacity: 0%;
    transition: opacity 1.5s;
}

.btn-mobile-close__icon {
    color: rgb(165, 147, 115);
}

.panel-cover__divider--secondary {
    display: block;
}

.standalone-navigation-header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 864px;
    min-width: 350px;
    margin: 20px auto 30px auto;
}

.standalone-navigation-header .navigation li {
    display: inline-block;
    width: auto;
    padding: 1px;
}

.navigation--primary {
    display: inline-block;
}

.cover-navigation.navigation--social .navigation li.primary--min {
    display: none;
}

.cover-navigation.navigation--social .navigation li {
    min-width: 38px;
}

.cover-navigation.navigation--primary .navigation li  {
    min-width: 130px;
}

.btn,
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  font-size: 12px;
  padding: 0 5px;
}

.footer {
  border-top: 2px solid rgb(165, 147, 115);
  color: rgb(165, 147, 115);
}

.footer__copyright {
    margin: 0 20px 10px;
    line-height: 130%;
}

.inline-link {
  font-style: italic;
  text-decoration: underline grey dotted;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius:100%;
}

.timeline:before {
    background-color: rgb(165, 147, 115);
}

.timeline>li .timeline-image {
    border: 7px solid rgb(165, 147, 115);
    background-color: rgb(165, 147, 115);
}

.img-me {
    border: 7px solid rgb(62, 56, 43);
    background-color: rgb(62, 56, 43);
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    color: rgb(165, 147, 115);
}



@media all and (min-width: 1750px) {
    .content-wrapper {
        margin-left: 700px;
    }

    .panel-cover--collapsed {
        max-width: 700px;
    }
}


@media all and (max-width: 960px) {
    .btn-mobile-menu.visible {
        z-index: 1000;
        opacity: 100%;
        transition: opacity 1.5s;
    }

    .panel-cover.panel-cover--collapsed {
        height: 320px;
    }

    .panel-cover.panel-cover--collapsed .panel-main__inner {
    	padding: 70px 0 0 0;
    }

    .navigation-wrapper {
        background: rgba(0, 0, 0, 0);
    }

    .cover-navigation {
        height: 0px;
        overflow: hidden;
    }

    .cover-navigation.visible {
        height: 70px;
        transition: height 1s;
    }

    .cover-navigation.navigation--social .navigation li {
        width: 20%;
        padding: 1%;
    }

    .cover-navigation.navigation--social .navigation li.primary--min {
        display: none;
    }

    .cover-navigation.navigation--primary .navigation li {
        width: 30%;
        padding: 1%;
    }
}

@media all and (min-height: 600px) {
    .panel-cover__divider {
        margin: 25px auto;
    }
}

@media all and (max-height: 650px) and (max-width: 960px) {
    .cover-navigation.navigation--social .navigation li {
        width: 10%;
    }

    .navigation--primary {
        display: none;
    }

    .cover-navigation.navigation--social .navigation li.primary--min {
        display: inline-block;
    }
}

@media all and (max-height: 400px) {
    .panel-cover__description,
    .panel-cover__divider--secondary {
        display: none;
    }
}

@media all and (max-height: 320px) {
    .panel-cover__divider {
        display: none;
    }
}
