---
layout: 'home'
robots: 'all'
---
        <ul class="timeline">
          {% for project in site.data.projects %}
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-me" src="{{ project.img | prepend: site.baseurl }}" alt="{{ project.name }}">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>
                  {% if project.type == 'GitHub' %}
                    {% if project.gh_user == 'hu-zza' %}
                      <a href="https://git.zza.hu/{{ project.repo }}" title="See on GitHub: hu-zza/{{ project.repo }}" target="_blank">
                    {% else %}
                      <a href="https://github.com/{{ project.gh_user }}/{{ project.repo }}" title="See on GitHub: {{ project.gh_user }}/{{ project.repo }}" target="_blank">
                    {% endif %}
                  {% else %}
                    <a href="{{project.url}}" title="External link with more details about {{ project.name }}" target="_blank">
                  {% endif %}
                {{ project.name }}</a></h4>
              </div>
              <div class="timeline-body">
                {{ project.desc | markdownify }}
                {% if project.type == 'GitHub' %}<div user="{{ project.gh_user }}" repo="{{ project.repo }}" class="ghbtn" style="margin-top: 10px;">
                  <a target="_blank" href="https://git.zza.hu/{{ project.repo }}/stargazers"><i class="fas fa-star"></i><span class="star"> ...</span></a>&emsp;&emsp;
                  <a target="_blank" href="https://git.zza.hu/{{ project.repo }}/network"><i class="fas fa-code-branch"></i><span class="fork"> ...</span></a>&emsp;&emsp;
                  <a target="_blank" href="https://git.zza.hu/{{ project.repo }}/watchers"><i class="far fa-eye"></i><span class="watchers"> ...</span></a>
                  <div style="height: 10px;"></div>
                </div>{% endif %}
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
