      <footer class="footer">
        <span class="footer__copyright">© {{ site.time | date: '%Y' }} {{ site.author.fullName }}<br>All rights reserved.</span>
      </footer>

      <script type="text/javascript" src="{{ site.baseurl }}/lib/jquery-3.6.0.min.js?{{site.time | date: '%s%N'}}" charset="utf-8"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/lib/featherlight.min.js?{{site.time | date: '%s%N'}}" charset="utf-8"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/main.js?{{site.time | date: '%s%N'}}" charset="utf-8"></script>
      <script type="text/javascript" src="{{ site.baseurl }}/js/github_api.js?{{site.time | date: '%s%N'}}" charset="utf-8"></script>
