<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if page.robots %}
  <meta name="robots" content="{{ page.robots }}">
  {% endif %}

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="author" content="{{ site.author.fullName }}">
  <meta name="copyright" content="{{ site.author.fullName }}">
  <meta name="keywords" content="{{ site.keywords }}"/>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">


  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:type" content="profile">

  <meta property="og:profile:first_name" content="{{ site.author.firstName }}">
  <meta property="og:profile:last_name" content="{{ site.author.lastName }}">
  <meta property="og:profile:username" content="{{ site.author.username }}">
  <meta property="og:profile:gender" content="{{ site.author.gender }}">

  <meta property="og:image" content="{{ site.author.picture.url }}" />
  <meta property="og:image:secure_url" content="{{ site.author.picture.secureUrl }}" />
  <meta property="og:image:type" content="{{ site.author.picture.type }}" />
  <meta property="og:image:width" content="{{ site.author.picture.width }}" />
  <meta property="og:image:height" content="{{ site.author.picture.height }}" />

  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">


  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description }}{% endif %}">
  {% if site.author.twitter_username %}
    <meta name="twitter:creator" content="{{ site.author.twitter_username }}">
  {% endif %}
  <meta name="twitter:image" content="{{ site.author.picture.secureUrl }}" />


  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/favicons/apple-touch-icon.png">

  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicons/android-chrome-512x512.png" sizes="512x512">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicons/android-chrome-192x192.png" sizes="192x192">

  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicons/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicons/favicon.ico">

  <link rel="manifest" href="{{ site.baseurl }}/images/favicons/site.manifest">
  <meta name="theme-color" content="#a59373">

  <meta name="msapplication-TileColor" content="#a59373">
  <meta name="msapplication-TileImage" content="{{ site.baseurl }}/images/favicons/mstile-150x150.png">


  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css?{{site.time | date: '%s%N'}}">
  <link rel="canonical" href="{% if page.canonical %}{{ page.canonical }}{% else %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endif %}">

  <link href="lib/featherlight.min.css" type="text/css" rel="stylesheet" />
  <script defer src="lib/fontawesome/js/all.js"></script>

</head>
